.footer {
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: flex-start;
}
.footer__logo {
  width: 150px;
}
.footer small {
  margin-top: 40px;
  margin-left: 30px;
  color: #545454;
}
